

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hustle Menü</title>
    <link rel="stylesheet" type="text/css" href="/Content/Menü.css">
    <link rel="stylesheet" type="text/css" href="/Content/Iletisim.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .card{
            width: 290px;
        }
    </style>

</head>
<body>
    <div class="container" style="position:relative; right: 130px; bottom: 20px">
        <div class="card">
            <a href="/KesilenFatura/FaturaOlustur" style="text-decoration:none">
                <div class="face face1">
                    <div class="content">
                        <h3>Giriş Faturası Oluştur</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/KesilenFatura/CikisFaturasiOlustur" style="text-decoration:none">
                <div class="face face1">
                    <div class="content">
                        <h3>Çıkış Faturası Oluştur</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="/KesilenFatura/FaturalariListele" style="text-decoration:none">
                <div class="face face1">
                    <div class="content">
                        <h3>Faturaları Listele</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/KesilenFatura/Muhasebe" style="text-decoration:none">
                <div class="face face1">
                    <div class="content">
                        <h3>Muhasebe</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a style="text-decoration:none" href="/Menu/KullaniciGiris">
                <div class="face face1">
                    <div class="content">
                        <h3>Çıkış</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="iconcontainer">
        <a href="https://www.linkedin.com/in/ahmet-ecevit/" style="text-decoration:none">
            <div class="iconbox">
                <div class="icon linkedin1">
                    <i class="fab fa-linkedin fa-2x" ></i>
                </div>
                <p style="font-size:14px; margin-top:14px;">Ahmet Ecevit</p>
            </div>
        </a>

        <a href="https://www.linkedin.com/in/mustafa-utku-g%C3%BClc%C3%BC-6ab9aa209/" style="text-decoration:none">
            <div class="iconbox">
                <div class="icon linkedin2">
                    <i class="fab fa-linkedin fa-2x"></i>
                </div>
                <p style="margin-top:14px;">Utku Gülcü</p>
            </div>
        </a>
    </div>
</body>
</html>