@using ProjeMVCV1._2.Models.Entity;
@model ProjeMVCV1._2.Models.Entity.MultipleClass2


<table id="FaturaList">

    <tr>
        <th style="width:24%"> Fatura No </th>
        <th style="width:64%"> Ünvan  </th>
        <th style="width:24%"> Tarih </th>
        <th>Listele</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model.KesilenFaturaDetaylariList)
    {
<tr>
    <td class="notranslate">@item.KesilenFaturaID</td>
    <td> @item.GidenFaturaUnvan </td>
    <td> @Convert.ToDateTime(item.GidenFaturaTarih).ToShortDateString()</td>
    <td>
        <a style=" background-color: #8cdd26; border-radius: 5px; color: white; font-weight: bold;" target="_blank" class="göster btn" href="/KesilenFatura/Index/@item.KesilenFaturaID">
            Göster
        </a>
    </td>

    <td>
        <a style=" background-color: red; border-radius: 5px; color: white;
            font-weight: bold;" target="_blank" class="göster btn" href="/KesilenFatura/CikisFaturasiSil/@item.KesilenFaturaID">
            Sil
        </a>
    </td>

</tr>
    }



</table>
